:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  --ff-primary: "DM Sans", sans-serif;
  --ff-secondary: "Bricolage Grotesque", sans-serif;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

body {
  background-color: var(--neutral-900);
  font-family: var(--ff-primary);
  color: var(--neutral-0);
  display: grid;
  place-items: center;
}

button,
input {
  color: var(--neutral-0);
  font-family: var(--ff-primary);
  background-color: transparent;
  border: 0;
}

button:hover,
input:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
